* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
li {
  list-style: none;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  height: 300px;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
}
.mainbox .panel {
  position: relative;
  height: 3.875rem;
  border: 1px solid rgba(25, 186, 139, 0.2);
  background: url(../images/line\(1\).png) rgba(255, 255, 255, 0.05);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid skyblue;
  border-left: 3px solid skyblue;
  content: '';
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid skyblue;
  border-right: 3px solid skyblue;
  content: '';
}
.mainbox h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
}
.mainbox .chart {
  height: 3rem;
}
.mainbox .bigChart {
  height: 11rem;
}
.mainbox .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent !important;
  border-top: none !important;
}
.mainbox .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid skyblue;
  border-left: 3px solid skyblue;
  content: '';
}
.mainbox .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid skyblue;
  border-right: 3px solid skyblue;
  content: '';
}
.mainbox .Navi {
  margin-top: 0;
  background-color: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
.mainbox .Navi .Navi-button {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.17);
}
.mainbox .Navi .Navi-button::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.mainbox .Navi .Navi-button::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.mainbox .Navi .Navi-button ul {
  display: flex;
}
.mainbox .Navi .Navi-button ul li {
  position: relative;
  flex: 1;
  line-height: 1rem;
  font-size: 0.375rem;
  color: #ffeb7b;
  text-align: center;
}
.mainbox .Navi .Navi-button ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.mainbox .midChart {
  height: 9.5625rem;
}
.mainbox .navActive {
  background-color: transparent !important;
  color: white !important;
  font-weight: 800;
}
